@media (min-width: 1007px) {
  .container {
    background-color: #f7f8fc;
    position: fixed;
    height: 100%;
    width: 12%;
    top: 55;
    left: 0;
  }

  .containers {
    background-color: '#F7F8FC';
    height: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 1006px) {
  .container {
    background-color: #f7f8fc;
    position: fixed;
    height: 10%;
    width: 100%;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .containers {
    background-color: '#F7F8FC';
    height: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
