@media (min-width: 1007px) {
  .nav {
    width: 100%;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: fixed;
    display: flex;
    align-items: center;
  }

  .bgimg {
    background-image: url('../../assets/images/bgnav.jpg');
    background-position: 0px -270px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 8%;
  }

  .brand {
    color: white;
    font-size: 20px;
    background-color: lightskyblue;
  }
}

@media (max-width: 1006px) {
  .nav {
    width: 100%;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: fixed;
    display: flex;
    align-items: center;
  }
  .bgimg {
    background-image: url('../../assets/images/bgnav.jpg');
    background-position: 0px -200px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 8%;
  }
  .brand {
    color: white;
    font-size: 20px;
    background-color: blue;
  }
}

@media (max-width: 850px) {
  .bgimg {
    background-image: url('../../assets/images/bgnav.jpg');
    background-position: 0px -170px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 8%;
  }
}

@media (max-width: 650px) {
  .bgimg {
    background-image: url('../../assets/images/bgnav.jpg');
    background-position: 0px -130px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 8%;
  }
}

@media (max-width: 550px) {
  .bgimg {
    background-image: url('../../assets/images/bgnav.jpg');
    background-position: 0px -100px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 8%;
  }
}
