@media (min-width: 1007px) {
  .container {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    background-color: greenyellow;
    /* align-items: center; */
    /* justify-content: center; */
    width: 100%;
    height: 100%;
    padding-top: 51px;
  }

  .children_container {
    padding-left: 12%;
    width: 100%;
  }
}

@media (max-width: 1006px) {
  .container {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    background-color: greenyellow;
    /* align-items: center; */
    /* justify-content: center; */
    width: 100%;
    height: 100%;
    padding-top: 51px;
  }
  .children_container {
    padding-left: 0%;
    width: 100%;
  }
}
