.cont {
  background-color: green;
  width: 80%;
}

.calendar_info {
  background-color: hotpink;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prev_month,
.next_month,
.calendar_month_days {
  cursor: pointer;
}

.prev_month {
  margin-right: auto;
}

.next_month {
  margin-left: auto;
}

.month,
.year {
  padding: 0.5em;
}

.calendar_week,
.calendar_month_days {
  background-color: lightskyblue;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-top: 20px;
  margin-bottom: 20px;
}

.week_day,
.month_days,
.current_day_month {
  text-align: center;
}

.month_days {
  padding-top: 15px;
  padding-bottom: 15px;
  /* background-color: red;
  border-radius: 50%; */
}

.current_day_month {
  color: white;
  background-color: #ff7362;
  border-radius: 50%;
  width: 40%;
  margin: auto;
  padding-top: 2px;
  padding-bottom: 1px;
}
