.container {
  background-color: yellow;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tasks_info {
  background-color: violet;
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .task {
  
} */
