@media (min-width: 1007px) {
  .container {
    background-color: green;
    display: flex;
    flex-direction: row;
  }

  .calendar_container {
    background-color: orange;
    width: 50%;
    display: flex;
    justify-content: center;
  }

  .task_container {
    background-color: blue;
    width: 50%;
  }
}

@media (max-width: 1006px) {
  .container {
    background-color: green;
    display: flex;
    flex-direction: column;
  }

  .calendar_container {
    background-color: orange;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .task_container {
    background-color: blue;
    width: 100%;
  }
}
